In [1]:
import pandas as pd

In [2]:
X_test = pd.read_csv("X_test.csv")
X_train = pd.read_csv("X_train.csv")
Y_test = pd.read_csv("Y_test.csv")
Y_train = pd.read_csv("Y_train.csv")

In [24]:
X_train.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,4950,0.0,125,360,1
1,2882,1843.0,123,480,1
2,3000,3416.0,56,180,1
3,9703,0.0,112,360,1
4,2333,2417.0,136,360,1

In [4]:
X_train.Gender.value_counts()

Male      318
Female     66
Name: Gender, dtype: int64

In [5]:
X_train.Married.value_counts()

Yes    250
No     134
Name: Married, dtype: int64

In [6]:
X_train.Education.value_counts()

Graduate        308
Not Graduate     76
Name: Education, dtype: int64

In [7]:
X_train.Self_Employed.value_counts()

No     330
Yes     54
Name: Self_Employed, dtype: int64

In [8]:
X_train.Property_Area.value_counts()

Semiurban    146
Urban        125
Rural        113
Name: Property_Area, dtype: int64

In [9]:
X_train.LoanAmount.min()  #找最小值 
X_train.LoanAmount.max()  #找最大值
X_train.LoanAmount.mean() #找最平均值
X_train.LoanAmount.describe() #找所有

count    384.000000
mean     141.471354
std       75.176271
min        9.000000
25%      100.000000
50%      128.000000
75%      164.250000
max      600.000000
Name: LoanAmount, dtype: float64

In [10]:
X_train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,384.000000,384.000000,384.000000,384.000000,384.000000
mean,5149.718750,1572.077917,141.471354,342.093750,0.856771
std,5304.921764,2624.223119,75.176271,65.846658,0.350763
min,150.000000,0.000000,9.000000,36.000000,0.000000
25%,2898.750000,0.000000,100.000000,360.000000,1.000000
50%,3893.500000,1188.500000,128.000000,360.000000,1.000000
75%,5819.500000,2259.250000,164.250000,360.000000,1.000000
max,81000.000000,33837.000000,600.000000,480.000000,1.000000

In [11]:
# KNN  未正規劃
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [25]:
knn = KNeighborsClassifier(n_neighbors=5)
X_train = X_train[['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']]
knn.fit(X_train,Y_train)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [13]:
X_test = X_test[['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']]
accuracy_score(Y_test,knn.predict(X_test))

0.61458333333333337

In [14]:
# KNN 正規劃
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
X_train_minmax = min_max.fit_transform(X_train[['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']])
X_test_minmax = min_max.fit_transform(X_test[['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']])

In [15]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_minmax,Y_train)
accuracy_score(Y_test,knn.predict(X_test_minmax))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

0.75

In [16]:
# penalty 
from sklearn.linear_model import LogisticRegression
lr_minmax = LogisticRegression(penalty = 'l2',C=0.01)
lr_minmax.fit(X_train_minmax, Y_train)
accuracy_score(Y_test,lr_minmax.predict(X_test_minmax))

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.63541666666666663

In [17]:
# z分數
from sklearn.preprocessing import scale

In [18]:
X_train_scale = scale(X_train[['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']])
X_test_scale = scale(X_test[['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']])
log = LogisticRegression(penalty = 'l2',C=0.01)
log.fit(X_train_scale,Y_train)
accuracy_score(Y_test,log.predict(X_test_scale))

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.75

In [19]:
# 類別轉換成數值 labelencoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in X_train.columns.values:
    if X_test[col].dtypes == 'object':
        data = X_train[col].append(X_test[col])
        le.fit(data.values)
        X_train[col] = le.transform(X_train[col])
        X_test[col] = le.transform(X_test[col])

In [22]:
X_train.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,4950,0.0,125,360,1
1,2882,1843.0,123,480,1
2,3000,3416.0,56,180,1
3,9703,0.0,112,360,1
4,2333,2417.0,136,360,1

In [23]:
# 類別轉換成數值  dummies
X_train_Gender = pd.get_dummies(X_train.Gender,prefix='cc_')
X_train_Gender.head()

AttributeError: 'DataFrame' object has no attribute 'Gender'

In [22]:
X_train = X_train.join(X_train_Gender)
X_train.head()

NameError: name 'X_train_Gender' is not defined

In [23]:
X_train_Married = pd.get_dummies(X_train.Married,prefix='cc_')
X_train = X_train.join(X_train_Married)
X_train.head()

AttributeError: 'DataFrame' object has no attribute 'Married'

In [24]:
X_train_Education = pd.get_dummies(X_train.Education,prefix='cc_')
X_train = X_train.join(X_train_Education)
X_train.head()

AttributeError: 'DataFrame' object has no attribute 'Education'

In [25]:
X_train_Self_Employed = pd.get_dummies(X_train.Self_Employed,prefix='aa_')
X_train = X_train.join(X_train_Self_Employed)
X_train.head()

AttributeError: 'DataFrame' object has no attribute 'Self_Employed'

In [26]:
X_train_Property_Area = pd.get_dummies(X_train.Property_Area,prefix='cc_')
X_train = X_train.join(X_train_Property_Area)
X_train.head()

AttributeError: 'DataFrame' object has no attribute 'Property_Area'

In [27]:
X_train = X_train.drop('Loan_ID',axis = 1)
X_train.head()

ValueError: labels ['Loan_ID'] not contained in axis

In [28]:
X_train = X_train.drop('Gender',axis = 1)

ValueError: labels ['Gender'] not contained in axis

In [32]:
X_train = X_train.drop('Education',axis = 1)

ValueError: labels ['Education'] not contained in axis

In [33]:
X_train = X_train.drop('Married',axis = 1)

ValueError: labels ['Married'] not contained in axis

In [34]:
X_train = X_train.drop('Self_Employed',axis = 1)

ValueError: labels ['Self_Employed'] not contained in axis

In [35]:
X_train = X_train.drop('Property_Area',axis = 1)

ValueError: labels ['Property_Area'] not contained in axis

In [36]:
X_train.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,4950,0.0,125,360,1
1,2882,1843.0,123,480,1
2,3000,3416.0,56,180,1
3,9703,0.0,112,360,1
4,2333,2417.0,136,360,1

In [37]:
# 類別轉換成數值  dummies
X_test_Gender = pd.get_dummies(X_test.Gender,prefix='cc_')
X_test = X_test.join(X_test_Gender)
X_test.head()

AttributeError: 'DataFrame' object has no attribute 'Gender'

In [38]:
X_test_Education = pd.get_dummies(X_test.Education,prefix='cc_')
X_test = X_test.join(X_test_Education)

AttributeError: 'DataFrame' object has no attribute 'Education'

In [39]:
X_test_Self_Employed = pd.get_dummies(X_test.Self_Employed,prefix='cc_')
X_test = X_test.join(X_test_Self_Employed)

AttributeError: 'DataFrame' object has no attribute 'Self_Employed'

In [40]:
X_test_Married = pd.get_dummies(X_test.Married,prefix='aa_')
X_test = X_test.join(X_test_Married)

AttributeError: 'DataFrame' object has no attribute 'Married'

In [41]:
X_test_Property_Area = pd.get_dummies(X_test.Property_Area,prefix='cc_')
X_test = X_test.join(X_test_Property_Area)

AttributeError: 'DataFrame' object has no attribute 'Property_Area'

In [42]:
X_test.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,3400,0,95,360,1
1,14583,0,436,360,1
2,2500,3796,120,360,1
3,3988,0,50,240,1
4,3859,0,96,360,1

In [43]:
X_test = X_test.drop('Gender',axis = 1)

ValueError: labels ['Gender'] not contained in axis

In [44]:
X_test = X_test.drop('Loan_ID',axis = 1)

ValueError: labels ['Loan_ID'] not contained in axis

In [45]:
X_test = X_test.drop('Married',axis = 1)

ValueError: labels ['Married'] not contained in axis

In [46]:
X_test = X_test.drop('Education',axis = 1)

ValueError: labels ['Education'] not contained in axis

In [47]:
X_test = X_test.drop('Self_Employed',axis = 1)

ValueError: labels ['Self_Employed'] not contained in axis

In [48]:
X_test = X_test.drop('Property_Area',axis = 1)

ValueError: labels ['Property_Area'] not contained in axis

In [49]:
X_train.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,4950,0.0,125,360,1
1,2882,1843.0,123,480,1
2,3000,3416.0,56,180,1
3,9703,0.0,112,360,1
4,2333,2417.0,136,360,1

In [50]:
X_test.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,cc__Female,cc__Male,cc__Graduate,cc__Not Graduate,cc__No,cc__Yes,aa__No,aa__Yes,cc__Rural,cc__Semiurban,cc__Urban
0,0,3400,0,95,360,1,1,0,0,1,1,0,1,0,1,0,0
1,0,14583,0,436,360,1,0,1,1,0,1,0,0,1,0,1,0
2,0,2500,3796,120,360,1,0,1,1,0,1,0,0,1,0,0,1
3,1,3988,0,50,240,1,0,1,1,0,1,0,0,1,0,0,1
4,2,3859,0,96,360,1,0,1,1,0,1,0,0,1,0,1,0

In [51]:
X_train = X_train.drop('Dependents',axis=1)

In [52]:
X_test = X_test.drop('Dependents',axis=1)

In [53]:
# knn未正規劃
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,Y_train)
accuracy_score(Y_test,knn.predict(X_test))

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.61458333333333337

In [54]:
lr = LogisticRegression(penalty = 'l2',C=0.01)
lr.fit(X_train, Y_train)
accuracy_score(Y_test,lr.predict(X_test))

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.61458333333333337

In [55]:
#randomforest
from sklearn.ensemble import RandomForestClassifier
ra = RandomForestClassifier().fit(X_train, Y_train)
accuracy_score(Y_test,ra.predict(X_test))

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.72916666666666663

In [56]:
#decisiontree
from sklearn.tree import DecisionTreeClassifier
de = DecisionTreeClassifier().fit(X_train,Y_train)
accuracy_score(Y_test,de.predict(X_test))

0.65625

In [57]:
#adaboost
from sklearn.ensemble import AdaBoostClassifier
ad = AdaBoostClassifier().fit(X_train, Y_train)
accuracy_score(Y_test,ad.predict(X_test))

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.71875

In [58]:
# KNN 正規劃
min_max = MinMaxScaler()
X_train_minmax = min_max.fit_transform(X_train)
X_test_minmax = min_max.fit_transform(X_test)
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_minmax,Y_train)
accuracy_score(Y_test,knn.predict(X_test_minmax))

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

0.61458333333333337

In [59]:
#scale
X_train_scale = scale(X_train)
X_test_scale = scale(X_test)
log = LogisticRegression(penalty = 'l2',C=0.01)
log.fit(X_train_scale,Y_train)
accuracy_score(Y_test,log.predict(X_test_scale))

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.75